<html>
<head>
<title>title</title>

</head>
<body>
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="src/jquery.collapse.js"></script>
-->
<div class="col c2">
      <!-- BEGIN CUSTOM SHOW AND HIDE -->
      <div id="custom-show-hide-example">
        <h3>設定</h3>
        <div>
            複数個をチェックボックスで指定<br>
            <li>Remaindする日程</li>
            <!-- <select name="select" style="width: 30px"> -->
            <!--google map のルート検索の時間指定のところと同じように,一覧から選択できて,かつ,入力できるようにしたい<br>-->

            [%- MACRO SELECT (name, start, end) BLOCK -%]
            
              <select id="[% name %]" name="[% name %]" style="width:50px">
              [%- FOREACH i = [start..end] %]
                <option value="[% i %]">[% i %]</option>
              [%- END %]
              </select>
           [%- END -%]
             週 [% select('weektimes',1,10) %]回<BR>
            LABEL CLASS="CHECKBOX"で囲むと改行されて不便<BR>
            <input type="checkbox" name="days" id="optionscheckbox" value="random">
            ランダム
            <div class="jToolTip_q">
              <font color="#ff0000" >？</font>
              <div class="jToolTip_a">
                1週間のうちランダムにお知らせします。
                
              </div>
            </div>
            <br>
            <input type="checkbox" name="days" id="optionscheckbox" value="monday">
            月曜日
            <input type="checkbox" name="days" id="optionscheckbox" value="tuesday">
            火曜日
            <input type="checkbox" name="days" id="optionscheckbox" value="wensday">
            水曜日
            <input type="checkbox" name="days" id="optionscheckbox" value="thursday">
            木曜日
            <input type="checkbox" name="days" id="optionscheckbox" value="friday">
            金曜日
            <br>
            <input type="checkbox" name="days" id="optionscheckbox" value="saturday">
            土曜日
            <input type="checkbox" name="days" id="optionscheckbox" value="sunday">
            日曜日
            <br><br>
            
            通知方法：メール,ポップアップ,他？
            <input type="checkbox" id="optionscheckbox" name="notification" value="mail" checked>
            <i class="icon-envelope icon-white" style="margin-top: 1px;"></i>メール
            <!-- <input type="checkbox" id="optionscheckbox" value="popup">
                 ポップアップ
            -->
            <label><input type="checkbox" id="check">Check This!</label>
<div id="box">content is here</div>

            
          </div>

        </div>
        
      </div>
      <script>
        new jQueryCollapse($("#custom-show-hide-example"), {
          open: function() {
            this.slideDown(150);
          },
          close: function() {
            this.slideUp(150);
          }
        });
        </script>
      
      
      <!-- END Custom show and hide -->
          
</body>
</html>
