<html>

<head>

</head>
<body>
<form method="POST" action="/signin"><br>
<font color="#ff0000">*</font>
ユーザ名:
<input type="text" name="uid" size="15" class="span2"/>
<br>
<font color="#ff0000">*</font>
パスワード：
<input type="password" name="passwd" size="15" />
<br>
お名前:
<input type="text" name="unam" size="15" class="span2"/>
<br>
<font color="#ff0000">*</font>
Email:
<input type="text" name="uemail" size="50" />
<br>
<input type="submit" class="btn" value="新規登録" />
</form>
<br>
<font color="#ff0000">*</font>は,必須
</body>
</html>
